
<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <h2>Health Systems Evidence</h2>

    <a href="/contact" class="btn btn-lg btn-primary"><i class="fa fa-phone"></i> Drop me a line</a>
  </div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
  <h1>About HSE</h1>
  <p><i>Quality drives our research</i></p>
  <p>The world's most comprehensive, free access point for evidence to support policy makers, stakeholders and researchers interested in how to strengthen or reform health systems or in how to get cost-effective programs, services and drugs to those who need them.</p>
</div>


