
<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
  
  
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div id="imaginary_container"> 
					<div class="input-group stylish-input-group input-append">
						<input type="text" class="form-control"  placeholder="Search" >
						<span class="input-group-addon">
							<button type="submit">
								<span class="glyphicon glyphicon-search"></span>
							</button>  
						</span>
					</div>
				</div>
			</div>
		</div>
	</div> 
	<br>
	
	
	
  
    <!-- <h2>HSE - Health Systems Evidence</h2> -->

    <a href="/"         class="btn btn-lg btn-primary"><i class="fa fa-home"></i> Home</a>
	<a href="/about"    class="btn btn-lg btn-primary"><i class="fa fa-info-circle"></i> About</a>
	<a href="/services" class="btn btn-lg btn-primary"><i class="fa fa-search-plus"></i> Guided Search</a>
    <a href="/contact"  class="btn btn-lg btn-primary"><i class="fa fa-phone"></i> Contact</a>
	<a href="/"  class="btn btn-lg btn-primary"><i class="fa fa-sign-in"></i> Login</a>
  </div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
  <h2>HSE - Health Systems Evidence</h2>
  <p>The world's most comprehensive, free access point for evidence to support policy makers, stakeholders and researchers interested in how to strengthen or reform health systems or in how to get cost-effective programs, services and drugs to those who need them.</p>
</div>
